<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Product Master</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Product Master</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<div class="row">

    <div class="col-md-6">
        <section class="content">
            <!-- Default box -->
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header">
                        <div>
                            <h3 class="card-title">Product Master</h3>
                        </div>
                        <!-- <div class="float-right">
                            <a href="javascript:void(0);" [routerLink]="['/admin/users/master']" class="btn btn-success btn-sm">Add New</a>
                        </div> -->
                    </div>
                    <div class="card-body">
        
                        <!-- /.card-header -->
                        <form [formGroup]="prodForm" (ngSubmit)="onSubmit()">
                            <div class="input-group mb-3">
                                <label class="form-control">Title*</label>

                                <input type="hidden" formControlName="department_id" />
                                <input type="hidden" formControlName="category_id" />

                                <input type="text" (blur)="onBlurTitle($event)" (keyup)="changeSlug($event)" class="form-control" placeholder="Title*" formControlName="product_title" [ngClass]="{ 'is-invalid': submitted && f.product_title.errors }" />
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>
                                <div *ngIf="submitted && f.product_title.errors" class="invalid-feedback">
                                    <div *ngIf="f.product_title.errors.required">
                                        title is required
                                    </div>
                                </div>
                            </div>
        
                            <div class="input-group mb-3">
                                <label class="form-control">Slug*</label>
                                <input type="text" (blur)="onBlurSlug($event)" class="form-control" placeholder="Slug*" formControlName="product_slug" [ngClass]="{ 'is-invalid': submitted && f.product_slug.errors }" />
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>
                                <div *ngIf="submitted && f.product_slug.errors" class="invalid-feedback">
                                    <div *ngIf="f.product_slug.errors.required">
                                        slug is required
                                    </div>
                                </div>
                            </div>
        
                            <div class="input-group mb-3">
                                <label class="form-control">Status*</label>
                                <select class="form-control" formControlName="status" placeholder="Select Status"
                                    [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
                                    <option value="">-SELECT-</option>
                                    <option value="OPEN">OPEN</option>
                                    <option value="CLOSE">CLOSE</option>
                                </select>
        
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>
        
                                <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                                    <div *ngIf="f.status.errors.required">Status is required</div>
                                </div>
                            </div>
        
                            <div class="input-group mb-3">
                                <label class="form-control">Change Profile Image</label>
                                <input type="file" class="form-control" placeholder="Profile Pic" (change)="onChange($event)"
                                    formControlName="imageLink" />
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                            </div>
        
                            <div class="row">
                                <!-- /.col -->
                                <div class="col-4">&nbsp;</div>
                                <div class="col-4">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        Submit
                                    </button>
                                </div>
                                <div class="col-4">&nbsp;</div>
                                <!-- /.col -->
                            </div>
                        </form>
                        <!-- /.card-body -->
        
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">Footer</div>
                    <!-- /.card-footer-->
                </div>
            </div>
            <!-- /.card -->
        
        </section>
    </div>

    <div class="col-md-6" *ngIf="imageName && imageName != null && imageName != ''">
        <section class="content">
            <!-- Default box -->
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header">

                        <div class="row">
                            <div class="col-md-11">
                                <h4 class="text-center">
                                    Product Image
                                </h4>
                            </div>

                            <div class="col-md-1">

                                <a href="javascript:void(0);" title="Delete Image" (click)="deleteImage(imageName)">
                                    <span class="badge bg-red" >
                                        <i class="fa fa-trash"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-content img-text-center">
                        <img width="50%" height="50%" src="{{ imageUrl }}" />
                    </div>
                    <div class="card-footer">
                        <a title="Open image in new tab" (click)="goToLink(imageUrl)" href="javascript:void(0);">View original Image</a>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>
<!-- /.content -->