<!-- Content Header (Page header) -->
<section class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1>Cms List</h1>
			</div>
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item active">Cms List</li>
				</ol>
			</div>
		</div>
	</div>
	<!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
	<!-- Default box -->
	<div class="container-fluid">
		<div class="card">
			<div class="card-header">
				<div>
					<h3 class="card-title">Cms List</h3>
				</div>
			</div>
			<div class="card-body">

				<!-- Cms List starts -->
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-header">
								<!-- <h3 class="card-title">Cms List</h3> -->

								<div class="row">
									<div class="col-md-11 ">
										<div class="input-group input-group-sm" style="width: 150px;">
											<!-- <input type="text" #search name="table_search" class="form-control float-right" placeholder="Search"> -->
											<input type="text" #search name="table_search" class="form-control" placeholder="Search">
	
											<div class="input-group-append">
												<button type="button" class="btn btn-default" (click)="searchCms(search.value)">
													<i class="fas fa-search"></i>
												</button>
											</div>
										</div>
									</div>

									<div class="col-md-1">
										<a href="javascript:void(0);" [routerLink]="['/admin/cms/master']" class="btn btn-success btn-sm">Add New</a>
									</div>
								</div>

								<!-- <div class="float-right">
								</div> -->
							</div>
							<!-- /.card-header -->
							<div class="card-body table-responsive p-0">
								<table class="table table-hover text-nowrap">
									<thead>
										<tr>
											<th>ID</th>
											<th>Page</th>
											<th>Status</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody *ngIf="cms?.length; else no_data_templ">
										<tr *ngFor="let cmsRow of cms; let i = index">
											<td>{{ cmsRow?._id }}</td>
											<td>{{ cmsRow?.key }}</td>

											<td *ngIf="cmsRow?.status == 'OPEN'; else statusBadge">
												<span class="badge badge-success">
													{{ cmsRow?.status }}
												</span>
											</td>
											<ng-template #statusBadge>
												<td><span class="badge badge-danger">{{ cmsRow?.status }}</span></td>
											</ng-template>
											
											<td colspan="2">
												<a href="javascript:void(0);"
													routerLink="/admin/cms/master/{{ cmsRow?._id }}" title="Edit User">
													<span class="badge bg-yellow">
														<i class="fa fa-pen"></i>
													</span>
												</a>

												&nbsp;<a href="javascript:void(0);" title="Delete Question">
													<span class="badge bg-red" (click)="softDelete(cmsRow._id)">
														<i class="fa fa-trash"></i>
													</span>
												</a>

												&nbsp;<a href="javascript:void(0);" title="Block Cms"
													*ngIf="cmsRow.status != 'OPEN'; else unblock_user">
													<span class="badge bg-green"
														(click)="confirmBlockUnblockCms(cmsRow?._id, 0)">
														<i class="fa fa-toggle-off" aria-hidden="true"></i>
													</span>
												</a>

												<ng-template #unblock_user>
													&nbsp;<a href="javascript:void(0);" title="Unblock Cms">
														<span class="badge bg-red"
															(click)="confirmBlockUnblockCms(cmsRow?._id, 1)">
															<i class="fa fa-toggle-on" aria-hidden="true"></i>
														</span>
													</a>
												</ng-template>
											</td>
										</tr>
									</tbody>

									<ng-template #no_data_templ>
										<tbody>
											<tr>
												<td class="text-center" colspan="7">No record found!</td>
											</tr>
										</tbody>
									</ng-template>
								</table>
							</div>
							<!-- /.card-body -->
						</div>
						<!-- /.card -->
					</div>
				</div>
				<!-- Cms List ends -->

			</div>
			<!-- /.card-body -->
			<div class="card-footer">Footer</div>
			<!-- /.card-footer-->
		</div>
	</div>
	<!-- /.card -->
</section>
<!-- /.content -->